{% capture controller %}
  {% if page.controller %}
    data-controller="{{ page.controller }}"
  {% endif %}
{% endcapture %}

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body {{ controller }}>

    {% include icons.html %}

    {% include sidebar.html %}

    <main class="default" id="main">
      <aside class="toggle-overlay" id="toggle-overlay"></aside>

      {{ content }}

      {% include footer.html %}

    </main>

    {% include toggle.html %}

  <!-- JS -->
  <!-- inject:js -->
  <script src="/assets/javascript/index-0828f2cbd9.min.js"></script>
  <!-- endinject -->

  </body>

</html>
