<div class="page__content">
  <div class="page__container">
    <div class="page__read-container">
      <article class="page__article">
        <header class="page__header">
          <h2 class="page__title">
            404: Page not found
          </h2>
          <h4>
            Sorry, this page isn't available.
          </h4>
        </header>
        <p>
          It appears that you have navigated to a broken or outdated link.
          <a href="/">Head back home</a> to try finding it again.
        </p>
      </article>
    </div>
  </div>
</div>