<footer class="footer">

    <ul class="footer__section footer__section--right">

      <li class="footer__social">
        <a href="{{ site.author.linkedin }}" class="footer__link">
          <svg class="footer__icon icon icon--linkedin-square">
            <use xlink:href="#icon--linkedin-square"></use>
          </svg>
        </a>
      </li>

      <li class="footer__social">
        <a href="{{ site.author.github }}" class="footer__link">
          <svg class="footer__icon icon icon--github">
            <use xlink:href="#icon--github"></use>
          </svg>
        </a>
      </li>

      <li class="footer__social">
        <a href="{{ site.author.codepen }}" class="footer__link">
          <svg class="footer__icon icon icon--codepen">
            <use xlink:href="#icon--codepen"></use>
          </svg>
        </a>
      </li>

      <li class="footer__social">
        <a href="mailto:{{ site.author.email }}" class="footer__link">
           <svg class="footer__icon icon icon--envelope">
            <use xlink:href="#icon--envelope"></use>
          </svg>
        </a>
      </li>

    </ul>

    <section class="footer__section footer__section--left">
      <a class="footer__link" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
    </section>

</footer>
