<section class="gallery" id="gallery">
  <div id="iso" class="gallery__wrap">

    <article class="gallery__item" data-wh="[800, 601]">
      <div class="gallery__fx">
        <div class="gallery__bg gallery__bg--ch" style="background-image:url('/assets/images/ch/ch-sm.jpg')">
          <a id="anchor__colorhappy" class="gallery__anchor" href="#colorhappy">
            <div class="gallery__hover">
              <div class="gallery__name">
                ColorHappy
              </div>
            </div>
          </a>
        </div>
      </div>
    </article>

    <article class="gallery__item" data-wh="[748, 545]">
      <div class="gallery__fx">
        <div class="gallery__bg gallery__bg--rs" style="background-image:url('/assets/images/rs/rs-sm.jpg')">
          <a id="anchor__reactsound" class="gallery__anchor" href="#reactsound">
            <div class="gallery__hover">
              <div class="gallery__name">
                ReactSound
              </div>
            </div>
          </a>
        </div>
      </div>
    </article>

    <article class="gallery__item" data-wh="[712, 545]">
      <div class="gallery__fx">
        <div class="gallery__bg" style="background-image:url('/assets/images/ama/ama-sm.jpg')">
          <a id="anchor__amanything" class="gallery__anchor" href="#amanything">
            <div class="gallery__hover">
              <div class="gallery__name">
                AmAnything
              </div>
            </div>
          </a>
        </div>
      </div>
    </article>

    <article class="gallery__item gallery__sizer" data-wh="[712, 545]">
      <div class="gallery__fx">
        <div class="gallery__bg" style="background-image:url('/assets/images/snv/snv-sm.jpg')">
          <a id="anchor__snvote" class="gallery__anchor" href="#snvote">
            <div class="gallery__hover">
              <div class="gallery__name">
                snVote
              </div>
            </div>
          </a>
        </div>
      </div>
    </article>

  </div>
</section>
