<nav class="sidebar__menu" id="nav">

  <a data-scroll class="sidebar__link sidebar__link--menu" href="#home">
    <svg class="sidebar__menu-icon icon icon--home">
      <use xlink:href="#icon--home"></use>
      <span class="icon__reader">home</span>
    </svg>
    <span class="sidebar__menu-text">
      Home
    </span>
  </a>

  <a data-scroll class="sidebar__link sidebar__link--menu" href="#projects">
    <svg class="sidebar__menu-icon icon icon--th">
      <use xlink:href="#icon--th"></use>
      <span class="icon__reader">projects</span>
    </svg>
    <span class="sidebar__menu-text">
      Projects
    </span>
  </a>

  <a data-scroll class="sidebar__link sidebar__link--menu" href="#about">
    <svg class="sidebar__menu-icon icon icon--person">
      <use xlink:href="#icon--person"></use>
      <span class="icon__reader">about</span>
    </svg>
    <span class="sidebar__menu-text">
      About Me
    </span>
  </a>

  <a data-scroll class="sidebar__link sidebar__link--menu" href="#contact">
    <svg class="sidebar__menu-icon icon icon--envelope">
      <use xlink:href="#icon--envelope"></use>
      <span class="icon__reader">mail</span>
    </svg>
    <span class="sidebar__menu-text">
      Contact
    </span>
  </a>

</nav>
