<nav class="nav">
  {% include nav-toggle.html %}
  <div id="overlay" class="overlay"></div>

  <section id="menu" class="menu">
    <ul class="menu__list">

      <li class="menu__item">
        <a class="menu__link" href="#">
          Home
        </a>
      </li>

      <li class="menu__item">
        <a class="menu__link" href="#">
          Projects
        </a>
      </li>

      <li class="menu__item">
        <a class="menu__link" href="#">
          About
        </a>
      </li>

      <li class="menu__item">
        <a class="menu__link" href="#">
          Contact
        </a>
      </li>

    </ul>
  </section>

  {% include footer.html %}

</nav>
