{% capture include_nav %}
  {% if page.layout == "post" %}
    {% include nav-posts.html %}
  {% else %}
    {% include nav-default.html %}
  {% endif %}
{% endcapture %}

<header class="sidebar">
  <section class="sidebar__top">
    <figure class="sidebar__figure">

      {% if site.author.avatar %}
      <a class="sidebar__avatar-wrap" href="/">
        <img
          class="sidebar__avatar"
          src="{{ site.author.avatar }}"
          alt="{{ site.author.name }}"
        >
      </a>
      {% endif %}

      <figcaption class="sidebar__caption-group">
        <label>

          <span class="sidebar__caption sidebar__caption--name">
            {{ site.author.name }}
          </span>

          <span class="sidebar__caption sidebar__caption--title">
            {{ site.author.title }}
          </span>

        </label>
      </figcaption>
    </figure>

    {{ include_nav }}

  </section>

  <footer class="sidebar__bottom">
    <ul class="sidebar__icon-list">

      <li class="sidebar__icon-item">
        <a href="{{ site.author.facebook }}" class="sidebar__link sidebar__link--icon">
          <svg class="icon icon--facebook">
            <use xlink:href="#icon--facebook"></use>
            <span class="icon__reader">icon-facebook</span>
          </svg>
        </a>
      </li>

      <li class="sidebar__icon-item">
        <a href="{{ site.author.github }}" class="sidebar__link sidebar__link--icon">
          <svg class="icon icon--github">
            <use xlink:href="#icon--github"></use>
            <span class="icon__reader">icon-github</span>
          </svg>
        </a>
      </li>

      <li class="sidebar__icon-item">
        <a href="{{ site.author.codepen }}" class="sidebar__link sidebar__link--icon">
          <svg class="icon icon--codepen">
            <use xlink:href="#icon--codepen"></use>
            <span class="icon__reader">icon-codepen</span>
          </svg>
        </a>
      </li>

      <li class="sidebar__icon-item">
        <a href="mailto:{{ site.author.email }}" class="sidebar__link sidebar__link--icon">
           <svg class="icon icon--envelope">
            <use xlink:href="#icon--envelope"></use>
            <span class="icon__reader">icon-envelope</span>
          </svg>
        </a>
      </li>

    </ul>
  </footer>
</header>
