---
layout: default
controller: main
---

{% include header.html %}

<section class="content" id="projects">

  <div class="content__container">
    <div class="content__read-container">
      <h1>
        Projects
      </h1>
      <p>
        Here are some of the work that I have done. Be sure to <a data-scroll href="#contact">drop me a line</a> if you have any questions!
      </p>
      </div>
    </div>
  </div>
  <div class="gallery" id="gallery">
    <aside class="gallery__sizer"></aside>

    {% for post in site.posts reversed %}
    <article class="gallery__item">
      <a class="gallery__image-wrap" href="{{ post.url }}">
        <img
          class="gallery__image"
          src="{{ post.image.small }}"
          alt="{{ post.title }}"
        >
        <div class="gallery__text-group">
          <span class="gallery__title">{{ post.title }}</span>
        </div>
      </a>
    </article>
    {% endfor %}

</section>

<section class="content" id="about">
  <div class="content__container">
    <div class="content__read-container">
      <h1>
        About Me
      </h1>

      {% capture about_txt %} {% include about.md %} {% endcapture %}
      {{ about_txt | markdownify }}

    </div>
  </div>
</section>

<section class="content" id="contact">
  <div class="content__container">
    <div class="content__read-container">
      <h1>
        Say Hello
      </h1>
      <p>
        Feel free to shoot me a message, and I will get back to you as soon as possible!
      </p>

      {% include form.html %}

    </div>
  </div>
</section>
