*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: $global-font-size;
}

body {
  background-color: $background-color;
  background-image: $noise-image;
  color: rgba($gray-dark, $primary);
  font-family: $base-font-family;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-size: rem($base-font-size);
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  min-width: map-get($container, min);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include media(">=medium") {
    font-size: rem($base-font-size-lg);
  }
}

input,
textarea {
  color: inherit;
}

img {
  display: block;
  width: 100%;
  vertical-align: middle;
}
