//
// Spacing
// =========================================== //

$spacing-unit:            30px;
$spacing: (
  base:                   rem($spacing-unit),
  half:                   rem($spacing-unit) / 2,
  double:                 rem($spacing-unit) * 2
);


//
// Grid
// =========================================== //

$gutter:                  rem(15px);
$columns:                 12;


//
// Opacity
// =========================================== //

$primary:                 0.8;
$secondary:               0.54;
$hint:                    0.38;
$disabled:                0.12;

$l-primary:               0.9;
$l-secondary:             0.7;
$l-hint:                  0.5;


//
// Colors
// =========================================== //

$black:                   #000;
$white:                   #fff;
$alabaster:               #fafafa;
$cape-cod:                #414644;
$mauvelous:               #f2849e;
$tickle-me-pink:          #fd709c;
$downy:                   #6ecaac;

$gray-light:              $alabaster;
$gray-dark:               $cape-cod;

$text-color:              $gray-dark;
$background-color:        $gray-light;
$base-color:              $downy;
$accent-color:            $tickle-me-pink;

$error:                   #c00;
// ** Page specific
$reactsound:              #f961b4;
$amanything:              #f5a2a2;
$snvote:                  #f3989b;
$getweather:              #0d47a1;
$pomodoro:                #b71c1c;
$wikiviewer:              #e3e3e3;
$wikiviewer-text:         #1a1a1a;
$mac-browser:             #deddde;
$mac-red:                 #fa615d;
$mac-yellow:              #fbbb40;
$mac-green:               #34c74a;


//
// Typography
// =========================================== //

$ratio:                        1.618;
$global-font-size:             100%;

$base-font-family:             "Open Sans", "Helvetica Neue", "Helvetica", "sans-serif";
$base-font-size:               16px;
$base-font-size-lg:            18px;
$base-font-weight:             300;
$base-line-height:             1.6;

$squash-line-height:           1.1;

$heading-font-family:          "Raleway", "Helvetica Neue", "Helvetica", "sans-serif";
$heading-line-height:          1.4;
$heading-font-weight:          300;

$bold-font-weight:             600;

$small-font-size:              $global-font-size * 0.875;   // ~14px
$lead-font-size:               $global-font-size * 1.25;    // ~20px

$font-size: (
  jumbo:                       em(round($base-font-size * 4.236)),    // ~68px
  h1:                          em(round($base-font-size * 3)),        // ~48px
  h2:                          em(round($base-font-size * 2.618)),    // ~42px
  h3:                          em(round($base-font-size * 1.854)),    // ~30px
  h4:                          em(round($base-font-size * 1.618)),    // ~26px
  h5:                          em(round($base-font-size * 1.146)),    // ~18px
  h6:                          em($base-font-size),                   // ~16px
);


//
// Sizes
// =========================================== //

$size: (
  hero:                   rem(400px),
  hero-lg:                rem(450px),
  post-banner:            rem(175px),
  post-banner-lg:         rem(400px),
  sidebar:                rem(225px),
  sidebar-md:             rem(250px),
  sidebar-lg:             rem(250px)
);

$container: (
  min:                    rem(320px),
  max:                    rem(1140px + $spacing-unit),
  read:                   80%
);

$toggler: (
  btn-width:              em(52px),
  btn-height:             em(45px),
  btn-padding:            em(13px),
  bar-thickness:          em(2px),
  bar-spacing:            em(5px)
);


//
// Z-index
// =========================================== //

$z-index: (
  pagination:               1000,
  sidebar:                  1300,
  sidebar-overlay:          1100,
  sidebar-toggle:           1200
);


//
// Transitions
// =========================================== //

$transition: (
  avatar:                 0.3s ease-in-out,
  cta:                    0.2s ease-in-out,
  gallery-overlay:        0.3s ease-in-out,
  gallery-image:          0.3s ease-in-out,
  footer-icons:           0.2s ease,
  sidebar:                0.5s ease,
  toggler:                0.3s ease,
  toggler-delay:          0.3s
);


//
// Breakpoints
// =========================================== //

$breakpoints: (
  small:                  em(480px),   // >= Phone
  medium:                 em(768px),   // >= Tablet
  large:                  em(992px),   // >= Desktop
  xlarge:                 em(1440px)   // >= Wide Screen
);


//
// Texture
// =========================================== //

$noise-image: url("../images/layout/noise.png");
