// ** Heading ** //
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// ** Body ** //
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Light-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"),
       url("../fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"),
       url("../fonts/OpenSans-Regular-webfont.svg#open_sanslight") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"),
       url("../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
