<nav class="sidebar__menu" id="nav">

  <a data-scroll class="sidebar__link sidebar__link--menu sidebar__link--divider-bottom" href="/">
    <svg class="sidebar__menu-icon icon icon--home">
      <use xlink:href="#icon--home"></use>
      <span class="icon__reader">home</span>
    </svg>
    <span class="sidebar__menu-text">
      Back Home
    </span>
  </a>

  {% for n in site.posts reversed %}
    {% capture is_active %}
      {% if page.url == n.url %}
        sidebar__link--active
      {% endif %}
    {% endcapture %}
    <a
      data-scroll
      href="{{ n.url | prepend: site.baseurl }}"
      class="sidebar__link sidebar__link--submenu {{ is_active }}"
    >
      <svg class="sidebar__menu-icon icon icon--folder">
        <use xlink:href="#icon--folder"></use>
      </svg>

      <span class="sidebar__menu-text">
        {{ n.title }}
      </span>
    </a>
  {% endfor %}

</nav>
