---
layout: default
---

{% include header.html %}

<div class="content">
  <div class="content__container">
    <div class="content__read-container content__read-container--flex">

      <section class="meta">
        <a class="meta__cta" href="{{ page.to.site }}">
          Launch Project
        </a>
        <ul class="meta__list">
          <li class="meta__list-item">
            <strong>Type:</strong>
            {{ page.type }}
          </li>
          <li class="meta__list-item">
            <strong>Built With:</strong>
            {{ page.tools }}
          </li>
          <li class="meta__list-item">
            <strong>Source:</strong>
            <a class="meta__link" href="{{ page.to.source }}">
              Click to view
            </a>
          </li>
        </ul>
      </section>

      <article class="article" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="article__header">
          <h3 class="article__kicker">
            {{ page.kicker }}
          </h3>
        </header>

        <section class="article__body" itemprop="articleBody">
          {{ content }}
        </section>

      </article>

      <ul class="showcase">
        <li class="showcase__item">
          <div class="showcase__image-wrap">
            <ul class="showcase__dot-list">
              <li class="showcase__dot-item"></li>
              <li class="showcase__dot-item"></li>
              <li class="showcase__dot-item"></li>
            </ul>
            <a href="{{ page.to.site }}" alt="{{ page.title }}">
              <img src="{{ page.image.large }}" alt="{{ page.title }}">
            </a>
          </div>
        </li>

        {% for i in page.image.rest %}
          <li class="showcase__item">
            <div class="showcase__image-wrap">
              <ul class="showcase__dot-list">
                <li class="showcase__dot-item"></li>
                <li class="showcase__dot-item"></li>
                <li class="showcase__dot-item"></li>
              </ul>
              <a href="{{ page.to.site }}" alt="{{ page.title }}">
                <img src="{{ i }}" alt="{{ page.title }}">
              </a>
            </div>
          </li>
        {% endfor %}

      </ul>

      <section class="pagination">

        {% if page.previous.url %}
          <a
            class="pagination__block pagination__block--previous"
            href="{{ page.previous.url }}"
          >
            <svg class="pagination__icon pagination__icon--left icon icon--chevron-thin-left">
              <use xlink:href="#icon--chevron-thin-left"></use>
              <span class="icon__reader">previous</span>
            </svg>
          </a>
        {% endif %}

        {% if page.next.url %}
          <a
            class="pagination__block pagination__block--next"
            href="{{ page.next.url }}"
          >
            <svg class="pagination__icon pagination__icon--right icon icon--chevron-thin-right">
              <use xlink:href="#icon--chevron-thin-right"></use>
              <span class="icon__reader">next</span>
            </svg>
          </a>
        {% endif %}

      </section>

    </div>
  </div>
</div>
