.toggle-overlay {
  background-color: rgba($white, 0.25);
  position: fixed;
  width: 100%;
  height: 0;
  transition: opacity map-get($transition, sidebar);
  z-index: map-get($z-index, sidebar-overlay);
  opacity: 0;

  @include media(">medium") {
    display: none;
  }
}

.toggle {
  appearance: none;
  backface-visibility: hidden;
  background-color: rgba($black, 0.125);
  border-radius: em(5px);
  box-shadow: 0 0 1px rgba($black, 0.025);
  color: $white;
  height: map-get($toggler, btn-height);
  left: em(10px);
  overflow: hidden;
  position: fixed;
  text-indent: -9999px;
  top: em(10px);
  transition: transform map-get($transition, sidebar),
              background-color map-get($transition, toggler);
  width: map-get($toggler, btn-width);
  z-index: map-get($z-index, sidebar-toggle);

  @include media(">=medium") {
    display: none;
  }
}

.toggle__bars {
  display: block;
  position: absolute;
  top: (map-get($toggler, btn-height) / 2) - (map-get($toggler, bar-thickness) / 2);
  right: map-get($toggler, btn-padding);
  left: map-get($toggler, btn-padding);
  height: map-get($toggler, bar-thickness);
  background-color: $white;
  transition: background-color 0s map-get($transition, toggler);

  &::before,
  &::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: map-get($toggler, bar-thickness);
    background-color: $white;
    content: "";
  }

  &::before {
    top: -(map-get($toggler, bar-thickness)) - map-get($toggler, bar-spacing);
    transition: top map-get($transition, toggler) map-get($transition, toggler-delay),
                transform map-get($transition, toggler) 0s;
  }

  &::after {
    bottom: -(map-get($toggler, bar-thickness)) - map-get($toggler, bar-spacing);
    transition: bottom map-get($transition, toggler) map-get($transition, toggler-delay),
                transform map-get($transition, toggler) 0s;
  }
}
