.article {
  padding-left: map-get($spacing, half);
  padding-right: map-get($spacing, half);
  margin-bottom: map-get($spacing, half);

  @include media(">=large") {
    padding-left: 0;
    padding-right: 0;
  }
}

.article__kicker {
  font-weight: 400;
  line-height: $squash-line-height;
  margin-bottom: 1em;
}
