.content {
  @include separator;
  padding: map-get($spacing, double) 0;
}

.content__container {
  @include container;
}

.content__read-container {
  @include read-container;

  &--flex {
    display: flex;
    flex-flow: column wrap;

    @include media(">=large") {
      display: block;
    }
  }
}
