.footer {
  backface-visibility: hidden;
}

.footer__wrap {
  @include separator;
  background-color: darken($gray-light, 2%);
  background-image: $noise-image;
  padding-top: map-get($spacing, base);
  padding-bottom: map-get($spacing, base);
}

.footer__container {
  @include container;
}

.footer__read-container {
  @include read-container;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  @include media(">=small") {
    flex-flow: row wrap;
  }
}

.footer__info {
  position: relative;

  @include media(">=small") {
    margin-right: auto;
    order: initial;
  }
}

.footer__email {
  position: relative;
  vertical-align: middle;

  @include media(">=small") {
    margin-left: auto;
  }
}

.footer__icon-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: $gutter;
}

.footer__icon-item {
  margin-right: $gutter;

  &:last-child {
    margin-right: 0;
  }
}

.footer__icon-wrap {
  align-items: center;
  background-color: rgba($gray-dark, $primary);
  border-radius: 50%;
  color: $white;
  font-size: rem(18px);
  display: flex;
  height: em(27px);
  justify-content: center;
  width: em(27px);
  transition: all map-get($transition, footer-icons);

  &:hover {
    background-color: rgba($accent-color, $l-primary);
  }
}

.footer__separator {
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  border: 0;

  &--outer {
    @include separator($black, $disabled);
    max-width: em(27px * 3);
    margin-top: map-get($spacing, base);
    margin-bottom: map-get($spacing, base);
  }

  &--inner {
    @include separator($black, 0.08);
    width: 25%;
    margin-top: calc(#{$gutter} + 2px);
    margin-bottom: $gutter;

    @include media(">=small") {
      display: none;
    }
  }
}
