.meta {
  background-color: darken($gray-light, 2%);
  background-image: $noise-image;
  border-radius: em(5px);
  font-size: $small-font-size;
  order: 10;
  padding-bottom: map-get($spacing, base);
  padding-left: map-get($spacing, half);
  padding-right: map-get($spacing, half);
  padding-top: map-get($spacing, base);
  width: 100%;
  box-shadow: inset 0 0 0 1px rgba($black, 0.05);

  @include media(">=large") {
    border-radius: em(5px);
    box-shadow: none;
    float: right;
    margin-bottom: $gutter;
    margin-left: $gutter;
    padding-left: map-get($spacing, base);
    padding-right: map-get($spacing, base);
    width: 60%;
    max-width: em(400px);
  }
}

.meta__cta {
  @include btn-cta;
  @include btn-bg($accent-color);
  display: block;
  margin-bottom: $gutter;
  width: 100%;
}

.meta__link {
  @include global-link;
}
