.pagination__block {
  align-items: center;
  backface-visibility: hidden;
  background-color: rgba($white, 0.28);
  border-radius: 50%;
  box-shadow: 0 0 2px rgba($black, 0.05);
  display: flex;
  flex-flow: row wrap;
  height: em(40px);
  justify-content: center;
  position: fixed;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  transition: margin map-get($transition, sidebar);
  width: em(40px);
  z-index: map-get($z-index, pagination);

  @include media(">=large") {
    background: none;
    box-shadow: none;
  }

  &:hover {
    .pagination__icon {
      color: $accent-color;
      mix-blend-mode: normal;
    }
  }

  &--previous {
    left: em(5px);

    @include media(">=medium") {
      margin-left: map-get($size, sidebar-md);
    }

    @include media(">=large") {
      margin-left: map-get($size, sidebar-lg);
    }
  }

  &--next {
    right: em(5px);
  }
}

.pagination__icon {
  color: rgba($text-color, $primary);
  font-size: map-get($font-size, h3);
  mix-blend-mode: exclusion;

  @include media(">=large") {
    font-size: map-get($font-size, h1);
  }

  &--left {
    margin-right: em(2px);
  }

  &--right {
    margin-left: em(2px);
  }
}
