.footer {
  @include container;
  height: $footer-height-xs;
  z-index: $z-footer;

  @include media-breakpoint-up(sm) {
    height: $footer-height;
  }
}

.footer__row {
  @include make-row;
}

.footer__inner {
  @include make-col-ready;
  @include make-col(12);
}

.footer__section {
  @include make-col-ready;
  @include make-col(12);
  text-align: center;
  line-height: 1;
  padding-top: 30px;
  padding-bottom: 30px;

  &:last-child {
    padding-top: 0;
  }

  @include media-breakpoint-up(sm) {
    @include make-col(6);
    line-height: $footer-height;
    padding-top: 0;
    padding-bottom: 0;

    &--left {
      @include make-col-pull(6);
      text-align: left;

    }

    &--right {
      @include make-col-push(6);
      text-align: right;

    }
  }
}

.footer__link {
  font-weight: $base-font-weight;

  &:hover {
    color: $accent-color;
  }
}

.footer__social {
  display: inline-block;
  padding-right: em(30px);

  &:last-child {
    padding-right: 0;
  }
}
