.callback {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  transition: all map-get($transition, sidebar);
}

.callback__content {
  @include separator;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 auto;
  justify-content: center;
  padding: map-get($spacing, base) 0;
}

.callback__container {
  @include container;
}

.callback__read-container {
  @include read-container;
}

.callback__article {
  text-align: center;
}

.callback__header {
  line-height: $squash-line-height;
}

.callback__title {
  font-weight: 400;
}

.callback__btn {
  @include btn;
  @include btn-bg($accent-color);
  display: inline-block;
  width: 100%;
  margin-top: map-get($spacing, base);

  @include media(">=small") {
    width: auto;
  }
}
